html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  padding: .5rem;
}

.robot {
  width: 320px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.robot-body {
  width: 320px;
  position: absolute;
}

.robot-brain {
  width: 46px;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: relative;
  z-index: 10;
  display: inline-block;
}

.robot-head-right {
  float: right;
}
