html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 3.5rem;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  bottom: 115px;
  left: 50%;
  transform: translateX(-50%);
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  z-index: 10;
  transform: translateX(-50%);
  bottom: 25%;
}

.robot-head-left {
  left: 30%;
}

.robot-head-right {
  right: -8%;
}

.robot:hover .robot-head-right {
  right: -25%;
}

.robot:hover .robot-head-left {
  left: 15%;
}
